In [4]:
import numpy as np 
import pandas as pd

spam_df = pd.read_csv("SPAM_SMS.csv")
sms_df = pd.read_csv("spam.csv", encoding='latin-1')

In [5]:
spam_df = spam_df.assign(type='spam')
spam_df = spam_df[['text', 'type']]
spam_df

                                                  text  type
0    Welcome ! your have P1222 for S!ot , \nWeb: 11...  spam
1    My god, at least 999P rewards waiting for you\...  spam
2    DEAR VIP <REAL NAME>, No. 1 Online Sabong Site...  spam
3    <REAL NAME>! Today, you can win the iphone14PR...  spam
4    Welcome ! your have P1222 for S!ot , \nWeb: gr...  spam
..                                                 ...   ...
713  [Epicwin]: Stay entertained with EpicWin's Dai...  spam
714  <REAL NAME>Sumali na at tamasahin ang 2% na un...  spam
715  Get Set for the Payday Bonanza! Claim Your 999...  spam
716  Win Big with a 228% bonus up to 10766 PHP! Dai...  spam
717  Your payday just got better with GoJackpot! Cl...  spam

[718 rows x 2 columns]

In [6]:
sms_df = sms_df.loc[sms_df["v1"] == "ham"]
sms_df = sms_df[["v1", "v2"]]
columns_titles = ["v2","v1"] # swap columns 
sms_df = sms_df.reindex(columns=columns_titles)
sms_df = sms_df.rename(columns={"v2": "text", "v1": "type"})
sms_df

                                                   text type
0     Go until jurong point, crazy.. Available only ...  ham
1                         Ok lar... Joking wif u oni...  ham
3     U dun say so early hor... U c already then say...  ham
4     Nah I don't think he goes to usf, he lives aro...  ham
6     Even my brother is not like to speak with me. ...  ham
...                                                 ...  ...
5565                                       Huh y lei...  ham
5568              Will Ì_ b going to esplanade fr home?  ham
5569  Pity, * was in mood for that. So...any other s...  ham
5570  The guy did some bitching but I acted like i'd...  ham
5571                         Rofl. Its true to its name  ham

[4825 rows x 2 columns]

In [7]:
merged_df = pd.concat([spam_df, sms_df])
merged_df = merged_df.drop_duplicates()
merged_df = merged_df.sample(frac=1) #shuffle
merged_df['type'].value_counts()

type
ham     4516
spam     660
Name: count, dtype: int64